* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 10px;
  margin: 10px 8rem;
}
.nav {
  margin-left: 10px;
}
.blue {
  color: white;
  background-color: blue;
  border-radius: 7px;
  padding: 5px;
  margin-left: 10px;
}
.n {
  border: none;
  padding: 5px;
  background-color: white;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
/* .logo {
  text-align: center;
  color: blue;
  font-size: 100px;
  font-weight: 800;
  padding-bottom: 100px;
} */
img {
  width: 300px;
  height: 150px;
}
.search-bar {
  margin: auto;
}
/* .quick {
  margin: 1px 0px;
} */
.search {
  width: 90%;
  max-width: 600px;
  min-width: 250px;
  border-radius: 25px;
  background-color: white;
  border-color: whitesmoke;
  padding: 10px 15px;
}
footer {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
@media (max-width: 600px) {
  .quick input {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
}
